/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 12px;
}

a {
    text-decoration: none;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.menu a:hover {
  border-color: #333;
}

/* Hero */
.hero {
  min-height: 90vh;
  background: url(/img/floral-background.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Gallery */
.gallery > h2 {
    text-align: center;
}

.gallery .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-item {
    transition: transform 0.3s ease-out;
}

.grid-item:hover {
    transform: scale(1.04);
}
   
.gallery .grid img {
    width: 100%;
    height: auto;
}
  

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-icons {
    font-size: 1.5rem;
}